.profile {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.container {
    width: 40vw;
    height: 60vh;
    border: 1px solid gray;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    background-color: white;
    text-align: center;
}

.coverPicture {
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.picture {
    height: 32%;
    width: 30%;
    border-radius: 50%;
    position: absolute;
    left: 35%;
    top: 25%;
    border: 2px solid white;
}

.info {
    margin-top: 6rem;
}

@media  screen and (max-width:1080px) {
    .container {
        width: 50vw;
    }
}

@media  screen and (max-width:960px) {
    .container {
        height: 60vh;
        width: 60vw;
    }
}

@media  screen and (max-width:760px) {
    .picture {
        width: 22vw;
        left: 32%;
    }
}

@media  screen and (max-width:590px) {
    .container {
        width: 90vw;
    }

    .picture {
        width: 30vw;
        left: 34%;
    }
}