.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 9999px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.icon {
    padding: 0px 20px;
}


.sidebarOption > h2 {
    font-weight: 700;
    font-size: 20px;
}

.active {
    color: var(--twitter-color);
}

@media screen and (max-width:760px) {
    .sidebarOption>h2 {
        font-size: 15px;
    }
}

@media screen and (max-width:500px) {
    .sidebarOption {
        display: none;
    }
}