.tweet {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.body {
    flex: 1;
    padding: 10px;
}

.body > img {
    border-radius: 20px;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.badge {
    font-size: 14px !important;
    color: var(--twitter-color);
}

.headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.avatar {
    padding: 20px;
}